
/* === Copyright Swamphacks 2017 === */

body {
  width: 100%;
  height: 100%;

}

html {
  width: 100%;
  height: 100%;
}

::selection {
  background: rgba(128,201,149,0.7); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(128,201,149,0.7); /* Gecko Browsers */
}

#pagetwo {
  background: green;
  height: 100%;
  width: 100%;
}

#credit {
  display: none;
}

.container .row .mentor {
  display: none;
}

.container .row .sponsor {
  display: none;
}

#slideshow {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#slideshow > div > img {
  height: 100%;

}

#slideshow > div > .cover {
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  width: 100%;
}

#mainWindow {
  height: 100%;
  width: 100%;
  /*background: url("../img/ufclock.jpg") no-repeat center;*/
}

#boxes {
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  height: 114px;
  width: 240px;
  display: inline-block;
  margin-top: 30px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

.right {
  padding: 30px;
  text-align: center;

}

.blockouter {
  height: 250px;
  padding: 10px;
  width: 260px;
  display: table;
  margin: 0 auto;
  border-radius: 6px;
}

.blockscontainer {
  width: 100%;
}

.blockinner {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
}

.b1 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #EF4A5A;
  /*box-shadow: 0px 0px 35px #F6968F;*/
}

.b2 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #48ABE0;
}

.b3 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #80C995;
}

#overlay {
  bottom: 0; left: 0; top: 0; right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 0;
  position: absolute;

  background: #007991;
  background: -webkit-linear-gradient(to right, #007991, #78ffd6);
  background: linear-gradient(to right, #007991, #78ffd6);
  /*
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed);
  background: linear-gradient(to right, #56ccf2, #2f80ed); */
  opacity: .9;
}

.boxheader {
  margin-left: 20px;
  font-size: 24px;
  font-family: 'Montserrat', serif;
}

.boxdescription {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 14px;
  color: #58595B;
}

.boxbtn {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  height: 40px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 34px;
  bottom: 0;
  position: absolute;
}

.redbtn {
  border-color: #EF4A5A;
  color: #EF4A5A;
}

.bluebtn {
  border-color: #48ABE0;
  color: #48ABE0;
}

.greenbtn {
  border-color: #80C995;
  color: #80C995;
}

.redtxt {
  color: #EF4A5A;
}

.redtxt > a {
  color: #EF4A5A;
}

.bluetxt {
  color: #48ABE0;
}

.bluetxt > a {
  color: #48ABE0;
}

.greentxt {
  color: #80C995;
}

.greentxt > a {
  color: #80C995;
}

/* Simple Buttons */

.simplebtn {
  background-color: transparent;
  font-family: 'Montserrat', serif;
  font-size: 16px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 40px;
}

.simplebtn > a {
  cursor: pointer;
  text-decoration: none;
  position: relative;

}

.simplebtn > a:hover, .simplebtn > a:focus {
  transition: .5s;
  color: #1A2930;
  text-decoration: none;
}

.simplebtnred > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #EF4A5A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.simplebtnblue > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #48ABE0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.simplebtngreen > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #80C995;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.simplebtn > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* End Simple Buttons */

#mainheader {
  font-size: 60px;
  font-family: 'Montserrat', serif;
  color: white;
  transition: 0.3s;
}

#headercaption {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  transition: 0.3s;
}

.container .morph-button button {
  color: rgba(72, 171, 224, 1);
  background: white;
  font-size: 18px;
  font-family: 'Montserrat', serif;
  transition: 0.2s;
  height: 80px;
  /*border-bottom-width: 6px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;*/
  border-radius: 6px;
}

.container .morph-button .morph-content .content-style-form p button {
  color: white;
  background: #9AD2A7;
  font-size: 18px;
  font-family: 'Montserrat', serif;
  transition: 0.2s;
  height: 80px;
  margin-bottom: 30px;
  /*border-bottom-width: 6px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;*/
  border-radius: 6px;
  line-height: 0;
}

.container .morph-button button:not(.no-hover):hover,
.container .morph-button button:not(.no-hover):focus {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  background: rgba(72, 171, 224, 0.5);
  color: white;
/*
  border-bottom-width: 6px;
  border-bottom-color: rgba(72, 171, 224, 1);
  border-bottom-style: solid;*/
}

.container .morph-button .morph-content .content-style-form p button:hover,
.container .morph-button .morph-content .content-style-form p button:focus {
  border-width: 5px;
  border-color: #437D54;
  border-style: solid;
  background: #9AD2A7;
  color: #437D54;
/*
  border-bottom-width: 6px;
  border-bottom-color: rgba(72, 171, 224, 1);
  border-bottom-style: solid;*/
}

.morph-content {
  background: #E3F2E5;
}

.morph-content .content-style-form {
  background: #E3F2E5;

}

.morph-content .content-style-form2 {
  background: #E3F2E5;

}

.container .morph-button .morph-content .content-style-form p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #80C995;
}

.container .morph-button .morph-content .content-style-form .result {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: -10px;
  margin-top: -5px;
}

/* Common panel style */
.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: white;

}
/* panel content (only for animation delay after open) */
.panel-content {
  padding: 100px 200px;
  height: 100%;
  opacity: 0;
  will-change: margin-top;
  -webkit-transition: all 700ms;
  transition: all 700ms;
  margin-top: -5%;
  overflow: scroll;
}

/* Panel content animation after open */
.panel:target .panel-content {
  opacity: 1;
  margin-top: 0;
}

/*  Specific panel "Slice" */
/* •••••••••••••••••••••••••••••••• */
.panel#slice {
  background-color: #48ABE0;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.56, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.56, 1);
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          width: 100%;
          height: 100%;
          border-radius: 0;
          margin: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

}
.panel#slice:target {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* Sample Particle background */
/* •••••••••••••••••••••••••••••••• */
#particles {
  opacity: 0.6;
}

.yugetxt {
  color: #1f6c95;
  font-size: 40px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-left: -140px;
  margin-top: -40px;
  margin-bottom: 20px;
  margin-right: -140px;
}

.panel-content p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  color: #d9e8f7;
  text-align: left;
  margin-left: -130px;
  margin-right: -120px;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
}

.mentor-style-form .resultmentor {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

.closementor {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  #boxes .row {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1000px) {



}

@media screen and (max-width: 800px) {
  #mainheader {
    font-size: 45px;
    font-family: 'Montserrat', serif;
    color: white;
  }

  #boxes {
    /*display: none;*/

  }
  .container .row .mentor {
    /*display: inline-block;*/
  }

  .mentor-style-form {


  }

  .mentor-style-form form {
    margin-left: -10px;


  }

  .mentor-style-form button {
  }

  .yugetxt {
    margin-left: -160px;
    margin-top: -40px;
    margin-right: -160px;
  }

  .panel-content p {
    margin-left: -150px;
    margin-right: -150px;
  }

  #slice {

    height: 100vh;
    overflow-y: scroll;
  }

  #mainWindow {
    height: 90%;
  }

  #home {
    height: 100%;
  }

  #credit {
    display: block;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', serif;
    color: white;
    width: 100%;
    font-size: 14px;
    bottom: 11%;
    font-weight: lighter;
  }

  .fa-desktop {
    margin-left: 4px;
    margin-right: 4px;
  }

  #headercaption {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  #boxes {
    height: auto;
    width: 100%;
    position: relative;
    background: #F1F1F1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  .b2 {
    box-shadow: 0 0 26px 0 rgba(70,171,224,0.4);
  }

  .b3 {
    box-shadow: 0 0 26px 0 rgba(128,201,149,0.5);
  }

}

@media screen and (max-width: 780px) {

  #boxes .row .top {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  #boxes .row .bottom {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
    width: 90%;
    margin-top: 30px;

  }

}


.mentor-style-form {
	position: relative;
	text-align: left;
  margin-left: -130px;
  margin-right: -120px;
  margin-bottom: 40px;
  margin-top: 20px;

}

.mentor-style-form h2 {
	margin-top: 10px;
	padding: 0.4em 0 0.3em;
	text-align: center;
	font-weight: 300;
	font-size: 3.0em;
	font-family: 'Montserrat', serif;
	color: #80C995;
}

.mentor-style-form form {

  width: 100%;

}

.mentor-style-form form p {
	margin: 0 0 5px 0;
	font-size: 0.7em;
}

.mentor-style-form label {
	display: block;
	padding: 10px 0 0;
	color: #1f6c95;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
  font-size: 10px;
}

.mentor-style-form input[type="text"],
.mentor-style-form input[type="password"] {
	padding: 10px;
	width: 100%;
	border: 2px solid #94c6eb;
	background: transparent;
	color: #94c6eb;
	font-weight: 300;
	font-size: 2.2em;
}

.mentor-style-form input[type="text"]:focus,
.mentor-style-form input[type="password"]:focus {
	border-color: #1f6c95;
	color: #1f6c95;
}

.mentor-style-form input:focus {
	outline: 0;
}

.mentor-style-form button {
  color: white;
  background: #71b8e6;
  font-size: 18px;
  font-family: 'Montserrat', serif;
  transition: 0.2s;
  height: 80px;
  border-radius: 6px;
  line-height: 0;
  border-width: 0;
  border-style: none;
  margin-top: 20px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mentor-style-form button:hover,
.mentor-style-form button:focus {
  border-width: 5px;
  border-color: #1f6c95;
  border-style: solid;
  background: #71b8e6;
  color: #1f6c95;
/*
  border-bottom-width: 6px;
  border-bottom-color: rgba(72, 171, 224, 1);
  border-bottom-style: solid;*/
}

#home {

  height: 100%;
}
